@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid d-flex align-items-center justify-content-center bg-light" style="height: 100vh;">
    <div class="text-center">
        <h1 class="primary-color poppins-bold display-2 fw-bolder">Welcome to EnrollEase</h1>
        <h2 class="text-black display-6 fw-bold">an Online Enrollment Platform</h2>
        <p class="lead text-black">Streamline your academic journey with a hassle-free enrollment process.</p>
        <div>
            <a asp-controller="Student" class="btn btn-outline-primary rounded-pill">View Enrolled Students</a>
        </div>
    </div>
</div>
